  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li a {
    color: DeepSkyBlue; /* Button Color */
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
  }
  
  .nav-links li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: DeepSkyBlue;
    color: Black;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  .nav-links li a:hover::after {
    transform: scaleX(1);
  }
